.button {
    width: 6rem;
    height: 3rem;
    background-color: $orange;
    font-size: rem(14px);
    font-weight: bold;
    color: $white;
    display: block;
    padding: .8rem 0;
    text-align: center;
    text-decoration: none;
    &:hover {
        color: $darkGrey2;
    }
}

