.carousel {
    position: relative;

    &__slide {
        position: relative;
    }

    &__img {

        width: 100%;
        height: 560px;
        object-fit: cover;

        @include media('>=desktop') {
            height: 960px;
        }
    }

    &__content-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    &__controls-container {
        position: absolute;
        bottom: 20px;
        z-index: 10;

        @include media('>=desktop') {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        bottom: 70px;
        left: 50%;
        transform: translateX(-50%);
        }
    }

    &__box {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        word-break: break-all;
        padding: 0 1rem;

    }

    &__title, &__subtitle {
        font-size: rem(50px);
        font-weight: bold;
        color: $white;
        text-align: left;
        line-height: 1.2;


    }

    &__text {
        font-size: rem(16px);
        display: block;
        margin: 2rem 0;
        color: $white;
        text-align: left;
    }

    &__icon {
        width: 100px;
        height: 100px;
        margin: 1rem 0;
        color: $white;
        fill: currentColor;
        transition: color .3s ease-in;

    }

    &__icon:hover {
        color: $orange;
    }

    &__icon-link {
        z-index: 10;

    }
}

.controls {

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;


    @include media('>=desktop') {
        justify-content: flex-end;

    }

    &__bullet {
        margin: 0 .5rem;
        zoom: 2;
        width: 8px;
        height: 8px;
        display: inline-block;
        border-radius: 100%;
        background: #000;
        opacity: 0.2;
        cursor: pointer;

        @include media('>=desktop') {
            zoom: 0;
        }
    }

    &__icon {
        display: none;

        @include media('>=desktop') {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0 .5rem;
        color: $orange;
        transition: color .2s ease-in;
        fill: currentColor;
        cursor: pointer;
        }
    }

    &__icon:hover {
        color: $white;
    }
}

