.categories {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;


    @include media('>=desktop') {
        flex-flow: row nowrap;
        justify-content: space-between;
        margin: 100px 0;
    }
    &__box {
        width: 100%;
        position: relative;

        @include media('>=desktop') {
            width: 580px;
        }

    }

    &__img {

        width: 100%;
        height: 435px;
        object-fit: cover;

    }

    &__content {


    }

    &__link {
        transition: color .3s ease-in-out;
        text-decoration: none;
        color: $white;
    }

    &__link:hover {
        text-decoration: underline;
        color: $orange;
    }

    &__title {
        font-size: rem(30px);
        font-weight: 600;
        position: absolute;
        color: $white;
        left: 30px;
        top: 30px;

        @include media('>=desktop') {
        left: 60px;
        top: 60px;
        }
    }



    &__quantity {
        font-size: rem(10px);
        color: $black;
        position: absolute;
        left: 30px;
        top: 65px;
        @include media('>=desktop') {
        left: 60px;
        top: 95px;
        }
    }

    &__quantity--number {
        color: $orange;
        font-weight: 600;

    }
}