.collection {
    border-top: 1px solid $lightGrey2;
    display: flex;
    flex-flow: row nowrap;





    &__filter-sidebar {
        width: 0;
        left: -380px;
        position: absolute;
        background-color: $lightGrey3;
        @include media('>=desktop') {
        display: block;
        position: static;
        width: 380px;

        }

        &--open {
            width: calc(100% - 25px);
            left: 0;

            z-index: 2;
        }

    }


    &__wrapper {
        width: 100%;
        margin: 0;
        position: relative;
        @include media('>=desktop') {

            margin-left: 20px;
        }

        &--open {

            opacity: .5;
        }
    }

    &__tree-list {
        padding: 1rem 1rem 0 1rem;
        font-size: rem(12px);

        @include media('>=desktop') {
            padding: 2rem 0;
        }
    }

    &__tree-item {
        display: inline-block;
        padding: 0 10px;
        border-right: 1px solid $lightGrey2;

        &:last-of-type {
            border-right: 0;
        }

        &:first-of-type {
            padding-left: 0;
        }
    }



    &__tree-link {
        color: $lightGrey2;
        display: block;
        text-decoration: none;

        &--active {
            color: $black;
            font-weight: 600;
        }

        &:hover {
            text-decoration: underline;
            font-weight: 600;
        }
    }


    &__tree-icon {
        width: 10px;
        height: 10px;
        color: $lightGrey2;
        fill: currentColor;
    }

    &__card {
        margin: 3.5rem 0;

        height: 470px;
        background-color: #aabff8;
        position: relative;
    }

    &__content {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        transform: translateY(-50%);
        padding: 0 3.5rem;
        color: $white;
        text-align: left;
        
        @include media('>=tablet-l') {
            width: 50%;
        }
    }
    &__title {
        font-size: rem(60px);
        font-weight: 600;
        margin: 2rem 0;
    }

    &__text {
        font-size: rem(16px);
        line-height: 2;
    }

    &__category {

    }

    &__category-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
        padding: 0 1rem;

        @include media('>=desktop') {
            padding: 0;
        }
    }

    &__category-item {
        margin: 0 7rem 3.5rem 0;
    }

    &__category-item:first-of-type {
        margin-left: 0;
    }

    &__category-img {
        width: 130px;
        height: 130px;
        border-radius: 50%;
    }

    &__category-link {
        display: inline-block;
        text-decoration: none;
        font-size: rem(14px);
        font-weight: bold;
        color: $orange;
        padding: 0 1rem;
        transition: color .2s ease-in-out;

        @include media('>=phone') {
            font-size: rem(16px);
        }
    }

    &__category-link:hover {
        color: $black;
    }

    &__category-amount {
        color: $lightGrey2;
    }
}