.contact {
    
    display: flex;
    flex-flow: column nowrap;
    
    padding: 3.5rem 1.5rem;

    @include media('>=tablet-xl') {
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
        padding: 100px 1rem;
    }
    &__box {
        
        width: 100%;

        @include media('>=tablet') {
            width: 330px;
            
        }

        @include media('>=desktop') {
            width: 370px;
            height: 190px;
        }
    }

    &__box:first-of-type {
        margin-left: 0;
    }

    &__box:last-of-type {
        margin-right: 0;
    }

    &__title {
        display: none;
        font-size: rem(18px);
        font-weight: 600;
        color: $white;
        margin-bottom: 3rem;

        @include media('>=tablet-xl') {
            display: block;
            margin-bottom: 2rem;
        }
    }

    &__title--mobile {
        display: block;
    }

    &__img {
       width: 139px;
       height: 58px;
       margin-top: -2rem;
       
    }

    &__address {
        display: none;

        @include media('>=tablet-xl') {
            display: block;
            font-size: rem(14px);
            color: $lightGrey4;
            line-height: 2.3;
        }
        
    }

    &__link {
        display: inline-block;
        color: $lightGrey4;
        text-decoration: none;
        transition: color .2s ease-in-out;
    }

    &__link:hover {
        color: $orange;
    }

    &__menu-list {
        display: flex;
        flex-flow: column nowrap;
        
       
        @include media('>=desktop') {
            flex-flow: column wrap;
            height: 150px;
        }
    }

    &__menu-item {
        margin: .7rem 0;
    }

    &__menu-link {
        display: block;
        color: $orange;
        text-decoration: none;
        font-size: rem(14px);
        font-weight: 600;
        transition: color .2s ease-in-out;
    }

    &__menu-link:hover {
        color: $white;
    }

    &__icon-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
        margin: 3.5rem 0;

        @include media('>=desktop') {
            
            margin: 0;
        }
        
    }

    &__icon-item {
        background-color: $darkGrey2;
        width: 57px;
        height: 57px;
        border-radius: 50%;
        margin: 1rem .5rem 0 0;
        position: relative;
        transition: background-color .2s ease-in-out;
    }

    &__icon-link {
        display: block;
        width: 57px;
        height: 57px;
        
    }
    
    &__icon-item:hover {
        background-color: $white;
    }

    &__icon-item:hover &__icon {
        color: $orange;
    }

    &__icon {
        width: 20px;
        height: 20px;
        color: $white;
        fill: currentColor;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: color .2s ease-in-out;
        
    }

    &__text {
        font-size: rem(16px);
        color: $lightGrey4;
        line-height: 2;
        
    }

    &__form {
        display: flex;
        flex-flow: column nowrap;
        margin: 2rem 0;
        

        @include media('>=tablet') {
            flex-flow: row nowrap;
        }
    }

    &__input {
        width: 100%;
        height: 45px;
        color: $darkGrey;
        padding: 1rem;
        border: 0;

        @include media('>=tablet') {
            width: 300px;
        }
    }

    &__submit {
        width: 100%;
        height: 45px;
        background-color: $orange;
        color: $white;
        margin: .7rem 0;
        padding: 1rem;
        transition: color .2s ease-in-out;
        border: 0;

        @include media('>=tablet') {
            width: 130px;
            margin: 0;
        }

        
    }

    &__submit:hover {
        color: $black;
    }
}