.filter-sidebar {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;


    &--close {
        display: none;
    }

    &--open {
        display: block;

    }


    &__title {
        font-size: rem(22px);
        font-weight: 600;
        margin: 3rem 3.5rem;

    }
    &__form {
        margin: 0 3.5rem;

    }

    &__radio-list {

        &--sub {
           padding-left: 2rem;;
        }
    }



    &__radio-item {
        color: $darkGrey;
        position: relative;
        padding: 1rem 0;
    }



    &__icon {
        width: 10px;
        height: 10px;
        position: absolute;
        top: 15px;
        right: 0;

    }

    &__radio-name {
        padding-left: .5rem;
        font-size: rem(14px);

        font-weight: 600;
    }

    &__radio-name:hover {
        color: $black;
    }

    &__radio-name--active {
        color: $orange;
    }

    &__radio-amount {
        color: $lightGrey2;
    }

    &__radio-input {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        position: relative;
        height: 2rem;
        width: 2rem;
        transition: all 0.2s ease-out;
        background: $white;
        border: 2px solid $lightGrey5;
        color: $white;
        cursor: pointer;
        outline: 0;
        border-radius: 50%;
        vertical-align: middle;
    }

    &__radio-input:hover {
        background-color: $lightGrey2;
    }
    &__radio-input:checked {
        background-color: $orange;
    }


    &__radio-input:checked::before {
        height: 1.5rem;
        width: 1.5rem;
        position: absolute;
        content: '✓';
        top: 50%;
        left: 50%;
        font-size: rem(11px);
        transform: translate(-50%, -50%);
        text-align: center;
      }

    &__radio-input--black, &__radio-input--black:hover, &__radio-input--black:checked {
        background-color: $black;
        color: $lightGrey2;
    }

    &__radio-input--blue, &__radio-input--blue:hover, &__radio-input--blue:checked {
        background-color: $blue;
        color: $lightGrey2;
    }

    &__radio-input--brown, &__radio-input--brown:hover, &__radio-input--brown:checked {
        background-color: $brown;
        color: $lightGrey2;
    }

    &__radio-input--grey, &__radio-input--grey:hover, &__radio-input--grey:checked {
        background-color: $grey;
        color: $lightGrey2;
    }

    &__radio-input--green, &__radio-input--green:hover, &__radio-input--green:checked {
        background-color: $green;
        color: $lightGrey2;
    }

    &__radio-input--pink, &__radio-input--pink:hover, &__radio-input--pink:checked {
        background-color: $pink;
        color: $lightGrey2;
    }

    &__radio-input--orange, &__radio-input--orange:hover, &__radio-input--orange:checked {
        background-color: $orange;
        color: $lightGrey2;
    }

    &__radio-input--red, &__radio-input--red:hover, &__radio-input--red:checked {
        background-color: $red;
        color: $lightGrey2;
    }

    &__radio-input--white, &__radio-input--white:hover, &__radio-input--white:checked {
        background-color: $white;
        color: $lightGrey2;
    }

    &__radio-input--yellow, &__radio-input--yellow:hover, &__radio-input--yellow:checked {
        background-color: $yellow;
        color: $lightGrey2;
    }

    &__radio-range {
        display: block;
        margin: 1rem 0 0;

    }

    &__radio-price {
        font-size: rem(14px);
        font-weight: 600;
    }

    &__radio-btn {

    }

    &__button {
        height: 25px;
        width: 100px;
        background-color: $orange;
        transform-origin: 0 0;
        transform: rotate(90deg);
        text-decoration: none;
        color: $white;
        font-size: rem(14px);
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        padding: .5rem 0;
        position: fixed;
        top: 35rem;
        left: 25px;
        z-index: 3;
        cursor: pointer;
        
        @include media('>=desktop') {
            display: none;
        }

        @include media('landscape') {
            top: 20rem;
        }

        &--open {
            left: 100%;
            background-color: $white;
            color: $darkGrey2;
        }
    }

    &__button:hover{
        color: $darkGrey2;
    }



    &__icon-filter {
        width: 10px;
        height: 10px;
        margin-right: .5rem;

        fill: currentColor;
    }

    &__icon-filter:hover {
        color: $darkGrey2;
    }

}





