.footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0 4rem;
    position: relative;
    
    @include media('>=tablet') {
        padding: 2rem 0;
    }

    &__copy {
        font-size: rem(12px);
        color: $lightGrey4;
        padding-left: 1rem;

        @include media('>=desktop') {
            padding: 0;
        }
    }

    &__card-list {

        display: none;

        @include media('>=tablet') {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-end;
            align-items: center;
        }
    }

    &__card-item {
        
    }

   

    &__icon {
        width: 30px;
        height: 20px;
        color: $white;
        fill: currentColor;
        opacity: .5;
    }

    &__icon:hover {
        opacity: 1;
    }

    &__link {
        color: $white;
        font-size: rem(14px);
        font-weight: 600;
        text-align: center;
        text-decoration: none;
        padding-top: .7rem;
    }

    &__link:hover {
        color: $black;
    }

    &__btn {
        display: block;

        @include media('>=tablet') {
            display: none;
        }
    }

    &__buttonUp {
        width: 100%;
        height: 2.75rem;
        background-color: $orange;
        position: absolute;
        left: 0;
        bottom: 0;
    }

    &__icon2 {
        width: 1rem;
        height: 1rem;
        
        fill: currentColor;
    }

    &__icon2:hover {
        color: $black;
    }

}