.gallery {

    display: none;

    @include media('>=desktop') {
        display: block;
    }
    

    &__content {
        
        @include media('>=desktop') {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-flow: row wrap;
            margin: 2rem 0 6rem;
            }
    }
    &__box {
        position: relative;
        width: 280px;
        height: 280px;
        /*background-color: $lightGrey;*/
    }

    /*&__box:hover {
        background-color: $orange;
    }*/

    &__title {
        font-size: rem(22px);
        font-weight: 600;
        text-align: center;
        
    }
    &__link {
        
        text-decoration: none;
        font-size: rem(22px);
        font-weight: 600;
        text-transform: uppercase;
    }

    &__link--highlighted {
        color: $orange;
    }

    &__link:hover {
        text-decoration: underline;
    }

    &__link:hover &__icon {
        color: $black;
    }

    &__img {
        width: 100%;
        height: 100%;
    }

    &__icon {
        width: 40px;
        height: 40px;
        color: $white;
        fill: currentColor;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: color .2s ease-in-out;
    }
}