.header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: $orange;
    position: relative;

    @include media('>=desktop') {
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        &--view {
            background-color: $white;

        }
    }
    &__heading {
        background-color: $orange;


    }

    &__logo {

        padding: 1.5rem 0;

        &--view {
            margin-top: 10px;
            padding: 1rem 3.5rem;

        }
    }


    &__link {
        display: block;

    }

    &__icon {
        width: 130px;
        height: 39px;
        color: $white;
        fill: currentColor;


    }

    &__navigation {
        background-color: $white;
        width: 100%;
        z-index: 2;
        @include media('>=desktop') {
            background-color: $orange;
            width: auto;

            &--view {
                background-color: $white;

            }
        }
    }
}

