html {
  @include rem-baseline;
  font-family: 'Muli', sans-serif;
  font-size: 62.5%;

}

body {
  background-color: $white;
  color: $black;
  font-size: rem(16px);

  height: 100vh;

}

.layout-header {
  width: 100%;
  background-color: $orange;

  &--view {
    background-color: $white;
  }
}

.layout-menu {
  width: 100%;
  background-color: $white;
}


.layout-carousel {
  width: 100%;
  background-color: $white;

}

.layout-shipping {
  width: 100%;
  background-color: $lightGrey3;
}

.layout-categories {
  width: 100%;
  background-color: $white;
}

.layout-products {
  width: 100%;
  background-color: $white;
}

.layout-shipping-bottom {
  width: 100%;
  background-color: $white;
}

.layout-gallery {
  width: 100%;
  background-color: $white;
}

.layout-contact {
  width: 100%;
  background-color: $darkGrey3;
}

.layout-footer {
  width: 100%;
  background-color: $darkGrey4;
}

.layout-collection {
  width: 100%;
  background-color: $white;
}