.login {

    &-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        background-color: hsla(0,0,0,.7);
        z-index: 5;
        min-width: 310px;
        max-width: 500px;
        height: 50%;

        transition: opacity .5s ease;
        visibility: hidden;
        opacity: 0;
        padding: 20px;
        border-radius: 25px;

        @include media('<tablet', 'landscape') {
            top: 85%;
            left: 50%;
            transform: translate(-50%, -85%);
            height: 220px;
        }

        @include media('>=560px', '<=570px','landscape') {
            top: 95%;
            height: 180px;
            transform: translate(-50%, -95%);

        }

        @include media('>=630px', '<=640px','landscape') {
            top: 95%;
            height: 220px;
            transform: translate(-50%, -95%);

        }

        @include media('>=812px', '<=823px','landscape') {
            top: 80%;
            height: 210px;
            transform: translate(-50%, -80%);

        }


        &--open {
            opacity: 1;
            visibility: visible;
        }
    }

    &-errorMsg {
        font-size: rem(15px);
        font-weight: bold;
        color: red;

        @include media('>=phone-xl') {
            font-size: rem(20px);
        }

    }


    &__input {
        font-size: rem(20px);
        color: $orange;
        width: 100%;
        background-color: transparent;
        padding: 1rem 2rem;

        border: none;
        border-bottom: 1px solid $orange;
        outline: 0;
        margin: 2rem 0;

        @include media('<tablet', 'landscape') {
            padding: 1rem 2rem;
            margin: .5rem 0;
        }

        @include media('>=812px', '<=823px','landscape') {
            padding: 1rem 2rem;
            margin: .5rem 0;

        }

        &::placeholder {
            font-size: rem(20px);
            color: $orange;
            font-weight: 300;
        }


    }

    &__submit {
        width: 100%;
        border: 1px solid $orange;
        display: inline-block;
        background-color: transparent;
        padding: 2rem;
        font-size: rem(20px);
        color: $orange;
        transition: all .3s ease-in-out;
        margin-top: 2rem;

        @include media('<tablet', 'landscape') {
            margin-top: 1rem;
            padding: 1rem;
        }

        @include media('>=812px', '<=823px','landscape') {
            margin-top: 1rem;
            padding: 1rem;

        }

        &:hover {
            color: $white;
            background-color: $orange;
        }
    }

    &__icon {
        vertical-align: middle;
        width: 12px;
        height: 12px;
        fill: currentColor;
        margin-left: .5rem;
        &:hover {
            color: $orange;
        }
    }
}