.menu {

    display: none;

    &--open {
        position: absolute;
        left: 0;
        z-index: 2;
        background-color: $white;
        width: 100%;

        top: 125px;

        display: flex;
        flex-flow: column nowrap;
    }

    &--close {

       display: none;
    }

   @include media('>=desktop') {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        position: static;
        padding: 1.5rem 0;


        &--view {
            position: absolute;
            top: 0;
            left: 250px;
            background-color: $white;

        }

    }

    &__item {
        border-top: 1px solid $lightGrey;
        position: relative;

        @include media('>=desktop') {
            border-top: 0;
            padding: 0 1.5rem;

    }

}

    &__item:first-of-type {

        @include media('>=desktop') {
         padding-left: 0;
        }
    }

    &__link {
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        color: $darkGrey;
        font-size: rem(14px);
        font-weight: 600;
        transition: color .2s ease-in;
        padding: 1rem 1.5rem;

        @include media('>=desktop') {
            padding-left: 0;

        }
    }


    &__link:hover {
        color: $white;
        background-color: $orange;

        @include media('>=desktop') {
            color: $orange;
            background-color: transparent;
        }
    }



    &__icon {
        position: absolute;
        top: 13px;
        right: 10px;
        width: 10px;
        height: 10px;
        fill: currentColor;

        @include media('>=desktop') {
            right: 15px;
        }

    }
 }


