.nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
    position: relative;

    &--view {
        border-bottom: 1px solid $lightGrey2;
    }

    &__item {
        flex: 1 1 auto;


        @include media('>=desktop') {
            padding: 0 2rem;
        }
    }

    &__item--menu {
        display: block;

        @include media('>=desktop') {
            display: none;
        }
    }

    &__link {
        display: block;
        color: $orange;
        text-align: center;

        @include media('>=desktop') {
            color: $white;
        }
    }

    &__link:hover, &__link:focus {
        color: $black;
    }

    &__icon {
        cursor: pointer;
        width: 25px;
        height: 25px;
        fill: currentColor;
        transition: color .3s ease-in;

        &--view {
            color: $orange;
        }

        &--view:hover {
            color: $black;
        }

    }

    &__search {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    &__login {
        display: flex;
        justify-content: center;
        align-items: center;

    }

}

