.pagination {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;

    @include media('>=desktop') {
        justify-content: flex-start;
    }

    &__item {
        padding: 0 1.4rem;

        &:first-of-type {
            padding-left: 1rem;
        }
    }



    &__link {
        display: block;
        text-decoration: none;
        color: $darkGrey;
        font-size: rem(14px);
        font-weight: bold;

        &--active {
            color: $orange;
        }
    }

    &__link:hover {
        color: $darkGrey2;


    }



    &__btn {
        color: $white;
        display: block;
    }

}