.preloader {


    z-index: 100;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    opacity: 1;
    transition: opacity .5s ease;

    &__img {
        width: 50px;
        height: 50px;
    }

    &--hiding {
        opacity: 0 !important;
        pointer-events: none;
    }

    &--hidden {
        display: none !important;
    }
}

