.products {


    &__title {
        font-size: rem(22px);
        font-weight: 600;
        text-align: center;
        margin-top: 40px;

        @include media('>=desktop') {
            margin-top: 0;
        }
    }

    &__content {
        margin: 2.5rem 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        @include media('>=phone-m') {
            flex-flow: row wrap;
            justify-content: flex-start;



        }


    }

    &__box {

        width: 100%;

        @include media('>=phone-m') {
            width: 264px;
            margin: 0 1rem;
        }
        @include media('>=phone-l') {
            width: 300px;

        }

        @include media('>=660px', '<=680px') {
            width: 313px;
        }

        @include media('>=phone-xl') {
            width: 345px;
        }

        @include media('>=tablet') {
            width: 364px;


        }

        @include media('>=tablet-l') {
            width: 321px;
        }

        @include media('>=800px', '<=820px') {
            width: 386px;
        }

        @include media('>=823px', '<=840px') {
            width: 391px;
        }

        @include media('>=tablet-xl') {
            width: 321px;
        }

        @include media('>=desktop') {
            width: 430px;




        }

        &--view {

            @include media('>=desktop') {
            width: 469px;

            }
        }

    }



    &__link {
        display: block;
        text-decoration: none;
        color: $darkGrey2;

    }

    &__link:hover {
        text-decoration: underline;
    }

    &__img {
        width: 100%;
        height: 430px;
    }

    &__name {
        font-size: rem(14px);
        font-weight: 700;
        color: $orange;
        text-align: center;
        display: block;
        margin-top: 1.5rem;
    }

    &__text {
        display: block;
        font-size: rem(18px);
        font-weight: 700;
        text-align: center;
        line-height: 1.5;
        margin: 1.5rem 0;
        padding: 0 1rem;
    }

    &__price {
        display: block;
        font-size: rem(24px);
        font-weight: 700;
        text-align: center;
    }

    &__icon-list {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }

    &__item {
        margin: 2rem 2.5rem;
    }

    &__icon {
        width: 20px;
        height: 20px;
        color: $lightGrey2;
        fill: currentColor;
        transition: color .2s ease-in-out;

    }

    &__icon:hover {
        color: $orange;
    }


    &__filter-wrapper {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0 1rem;

        @include media('>=desktop') {
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__filter {
        flex: 1 1 0;
        margin: 1rem 0;


        @include media('>=desktop') {

        flex: 1 1 33%;
        margin: 3.5rem 0;
        }
    }

    &__filterA {
        text-align: left;
        order: 2;

        @include media('>=desktop') {
            order: 1;
        }
    }

    &__filterB {
        text-align: center;
        order: 3;

        @include media('>=desktop') {
            order: 2;
        }
    }

    &__filterC {

        text-align: right;
        order: 1;
        @include media('>=desktop') {
            order: 3;
        }
    }

    &__filter-label {
        font-size: rem(14px);
        color: $black;
        font-weight: 600;
    }

    &__filter-select {
        background-color: $lightGrey3;
        height: 50px;
        border: 0;
        border-radius: 0;
        padding: 0 1rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance:none;
    }

    &__filter-selectA {

        width: 85px;
        @include media('>=tablet-l') {
            width: 350px;
        }
    }

    &__filter-selectB {
        width: 85px;

    }

    &__filter-option {


    }

    &__filter-text {
        font-size: rem(14px);
        color: $darkGrey2;
        text-align: center;
    }

    &__filter-link {
        display: inline-block;
        margin: 0 .5rem;
    }

    &__filter-icon {
        width: 20px;
        height: 20px;
        color: $lightGrey2;
        fill: currentColor;
        vertical-align: middle;
        transition: color .2s ease-in-out;
    }

    &__filter-icon:hover {
        color: $orange;
    }
}
