.search {

    transition: opacity .5s ease;
    position: absolute;
    visibility: hidden;
    opacity: 0;


    &--open {

        position: absolute;
        top: 57px;
        width: 100%;
        left: 50vw;
        transform: translateX(-50%);
        margin-left: calc(-50vw + 50%);
        height: 60px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        opacity: 1;
        visibility: visible;



        @include media('>=desktop') {

            position: static;
            margin-left: 0;
            transform: translateX(0);
            height: 35px;

        }
    }

    &__input {
        flex: 1 1 85%;
        background-color: $lightGrey3;
        padding: 0 2rem;
        height: 100%;
        border: none;

        @include media('>=desktop') {
            width: 330px;
            height: 35px;
        }

        &--error::placeholder {
            color: red;
        }
    }

    &__submit {
        flex: 1 1 20%;
        height: 100%;
        border: none;
        background-color: $lightGrey4;


        @include media('>=desktop') {

            width: 70px;
            height: 35px;
            margin-right: 2rem;
        }
    }

    &__icon {



        cursor: pointer;
        width: 25px;
        height: 25px;
        color: $white;
        fill: currentColor;
        transition: color .3s ease-in;
        vertical-align: middle;

        &:hover {
            color: $orange;
        }



}


}

