.shipping {
    display: none;
    

    @include media('>=desktop') {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        
        
    }

    &__box {
        flex: 1 1 auto;
        padding: 2.5rem 3.5rem;
        

        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        width: 100%;
        
        
        
    }

    &__box:first-of-type {
        padding: 2.5rem 3.5rem;

        @include media('>=desktop') {
            padding: 2.5rem 0;
        }
    }

    &__box--border {
        border: 0;

        @include media('>=desktop') {
        border-left: 1px solid $white;
        border-right: 1px solid $white;
        }
    }

    &__icon {
        width: 40px;
        height: 40px;
        color: $orange;
        fill: currentColor;
       
    }

    &__text {
        display: block;
        margin-left: 1.5rem;
        line-height: 1.2;
    }

    &__title {
       font-size: rem(22px);
       font-weight: 700;
        
    }

    &__subtitle {
        font-size: rem(14px);
        font-weight: 300;
    }

}

.shipping-bottom {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    @include media('>=desktop') {
        display: none;
    }

    &__box {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding: 0 1.5rem;
    }

    &__title {
        font-size: rem(30px);
        font-weight: 600;
        color: $darkGrey2;
        text-align: center;
    }

    &__link {
        display: block;
        text-decoration: none;
        color: $darkGrey2;
        font-size: rem(30px);
        font-weight: 600;
    }

    &__text {
        margin: 2rem 0 3.5rem;
        line-height: 1.2;
        color: $lightGrey2;
        text-align: center;
    }

    &__text--highlighted {
        color: $orange;
    }

    &__icon {
        width: 40px;
        height: 40px;
        margin-bottom: 2.5rem;
        color: $lightGrey2;
        fill: currentColor;
    }
}