.user {

    transition: opacity .5s ease;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    margin-right: 3rem;

    &--open {

        position: absolute;
        top: -70px;

        right: 0;


        height: 60px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        opacity: 1;
        visibility: visible;



        @include media('>=desktop') {
            flex-flow: row nowrap;
            position: static;
            margin-left: 0;
            transform: translateX(0);
            height: 35px;

        }
    }
}