.icon-search {

}

.icon-user {

}

.icon-cart {

}

.icon-settings {

}

.icon-menu {
    visibility: visible;

    @include media('>=desktop') {
        visibility: hidden;

    }
}

.icon-arrow-down {

}

.icon-arrow-up {

}

.icon-left-down {

}

.icon-right-down {

}

.icon-cart2 {

}

.icon-ok {

}

.icon-phone {

}

.icon-package {

}

.icon-weight {

}

.icon-heart {

}

.icon-eye {

}

.icon-arrow-left {

}

.icon-instagram {

}

.icon-facebook {

}


.icon-google {

}


.icon-twitter {

}


.icon-skype {

}


.icon-pinterest {

}

.icon-yt {

}


.icon-creditcard {

}

.icon-submit {
    
}

