// Base font size definition

$rem-baseline: 10px;

// Colors definitions (use: http://chir.ag/projects/name-that-color/)

$white: #ffffff;
$black: #000000;
$orange: #fe5a1a;
$darkGrey: #777777;
$darkGrey2: #333333;
$darkGrey3: #161616;
$darkGrey4: #0d0d0d;
$lightGrey: #eeeeee;
$lightGrey2: #b7b7b7;
$lightGrey3: #f5f5f5;
$lightGrey4: #717171;
$lightGrey5: #d8d8d8;
$blue: #1857f7;
$brown: #945454;
$grey: #8f8f8f;
$green: #53a828;
$pink: #ef3dff;
$red: #ff0000;
$yellow: #ffd500;